name: Publish image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: |
        cd cmd/salta
        GO_ENABLED=0 go build

    -
       name: Set up QEMU
       uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: Ackar
        password: ${{ secrets.GHCR_TOKEN }}
    -
      name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: cmd/salta
        push: true
        tags: ghcr.io/ackar/salta:latest
    -
      name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
